{{- if .Values.externalSecrets.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: {{ .Values.externalSecrets.secretStoreName }}
spec:
  provider:
    aws:
      service: SecretsManager
      region: {{ .Values.externalSecrets.aws.region | default .Values.global.region }}
      auth:
        jwt:
          serviceAccountRef:
            name: {{ .Values.externalSecrets.serviceAccountName }}
            namespace: {{ .Values.externalSecrets.serviceAccountNamespace }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: myhealth-secrets
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "myhealth.labels" . | nindent 4 }}
spec:
  refreshInterval: {{ .Values.externalSecrets.refreshInterval }}
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ .Values.externalSecrets.secretStoreName }}
  target:
    name: {{ .Values.externalSecrets.targetSecretName }}
    creationPolicy: Owner
  data:
    - secretKey: db_host
      remoteRef:
        key: {{ .Values.externalSecrets.aws.secrets.dbCredentials }}
        property: host
    - secretKey: db_user
      remoteRef:
        key: {{ .Values.externalSecrets.aws.secrets.dbCredentials }}
        property: username
    - secretKey: db_password
      remoteRef:
        key: {{ .Values.externalSecrets.aws.secrets.dbCredentials }}
        property: password
    - secretKey: db_name
      remoteRef:
        key: {{ .Values.externalSecrets.aws.secrets.dbCredentials }}
        property: dbname
    - secretKey: jwt_secret
      remoteRef:
        key: {{ .Values.externalSecrets.aws.secrets.jwtSecret }}
        property: secret_key
    - secretKey: oura_client_id
      remoteRef:
        key: {{ .Values.externalSecrets.aws.secrets.ouraCredentials }}
        property: client_id
    - secretKey: oura_client_secret
      remoteRef:
        key: {{ .Values.externalSecrets.aws.secrets.ouraCredentials }}
        property: client_secret
{{- end }}
